body{
    background: #ffffff;  
    text-align: left;
    margin-left: 30%;
    margin-right: 30%;
    font-family: Helvetica, sans-serif; 
    font-size: 12px; 
    line-height: 15px;
    color: rgb(58, 58, 54);
}
article p{
    font-size: 14px; 
    font-family: Helvetica, sans-serif; 
    line-height: 16px;
    padding-top: 7px;
    margin-bottom: 15px;   
}
blockquote, q{
    text-indent: -0.8em;
    font-size: 12px;
    font-style: italic;
}
h1 { 
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    line-height: 24px;
} 
h2 { 
    font-style: italic;
    font-size: 21px;
}    
a { 
    text-decoration: underline; 
}
article:nth-child(even){
    background-color: rgba(179, 177, 112, 0.26);
}
article:nth-child(odd){
    background-color: rgba(0, 89, 255, 0.349);
}